%toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  user-select: none;
  z-index: 2;
}

.header {
  .menu {
    display: none;
    z-index: 1;
    @include mq(md) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      padding: 0;
      background-color: inherit;
      margin: 0;
      height: inherit;

      &__item {
        margin: .5rem;
      }
    }

    &--open {
      // make toggle icon white when clicked
      & + .menu__toggle {
        color: $white;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      min-width: 100%;
      padding: 0;
      top: 0;
      left: 0;
      background-color: rgba($black, .8);
      margin: 0;
      height: 50vh;
    }


    &__item {
      margin: .5rem;
    }

  &__toggle {
    @extend %toggle;
    @include mq(md) {
      display: none;
    }
    }
  }
  &__search {
    .close-input {
      border-style: none;
      border-width: 0;
      border-right: 1px solid $grey-light;
      &:hover {
        border-color: $grey-light;
      }
      &:first-child {
        @include mq(md) {
          width: 24rem;
        }
        // width: 24rem;
      }
      &:nth-child(2) {
        @include mq(md) {
          width: 6rem;
          margin: 0;
        }
        // width: 6rem;
        margin: 0.25rem 0;
        border: 0;
      }
    }
  }
  &__tagline {
    text-shadow: 1px 1px 2px $black;
  }

}

