.header {
  .menu {
    display: none;
    z-index: 1;
    @include mq(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      padding: 0;
      background-color: inherit;
      margin: 0;
      height: inherit;

      &__item {
        margin: .5rem;
      }
    }

    &--open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      min-width: 100%;
      padding: 0;
      top: 0;
      left: 0;
      background-color: rgba($black, .8);
      margin: 0;
      height: 50vh;
    }


    &__item {
      margin: .5rem;
    }

  &__toggle {
    @include mq(md) {
      display: none;
    }

    position: absolute;
    top: 1rem;
    right: 1rem;
    user-select: none;
    z-index: 2;
    }
  }

}
