.intro {
  @include mq(sm) {
    background-position: center 20%;
  }

  @include mq(md) {
    min-height: 16em;
    background-position: center 40%;

    &--extended {
      min-height: 24rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 45%;

    }
  }

  min-height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;

}
