.options {

  &--list {
    // @include flexbox;
    // @include flex-direction(column);
    .option {
      border: 0;
      color: $black;
      flex: 1;
      padding: 0 .5em;

      &:hover {
        color: $primary;

        path {
          fill: $primary;
        }
      }
    }
    @include mq(md) {
      // @include flex-direction(row);

    }
  }

}
