%item {
flex-basis: 100%;
}

.three-piece {
  &__item {
  @extend %item;

    &--box {
    box-shadow: 2px 2px 2px -2px rgba($black, 0.2);
    border: 1px solid $grey-light;
    @extend %item;
    img {
      object-fit: cover;
    }

    }
  }
}