// project var

$primary: #84bd00;

@import "susy/sass/susy";
// modules
// craft modules
@import "craftmodule/index";

// partials
@import "partial/index";

// tachyons
@import "tachyons-sass/tachyons";


@mixin notice($border-color: $yellow, $background-color: $grey-lightest) {
  border-left: 6px solid $border-color;
  border-radius: 2px;
  background-color: $background-color;
  padding: .75rem;
}

.notice {
  @include notice;
}
