// project var

$primary: #84bd00;

@import "susy/sass/susy";
// modules

$mqs: (
  sm: 35.5em,
  md: 48em,
  lg: 60em
);

// craft modules
@import "craftmodule/index";

// partials
@import "partial/index";

$breakpoint-not-small: 'screen and (min-width: 35.5em)';
$breakpoint-medium: 'screen and (min-width: 48em)';
$breakpoint-large: 'screen and (min-width: 60em)';

// tachyons
@import "tachyons-sass/tachyons";


@mixin notice($border-color: $yellow, $background-color: $grey-lightest) {
  border-left: 6px solid $border-color;
  border-radius: 2px;
  background-color: $background-color;
  padding: .75rem;
}

.notice {
  @include notice;
}
