// project var

$primary: #067BC2;
$anchor-bottom-hover: darken($primary, 5%);

@import "susy/sass/susy";
// modules

$mqs: (
  sm: 35.5em,
  md: 48em,
  lg: 78em
);

// craft init
@import "craftmodule/init";

// partials
@import "partial/index";

// craft modules
@import "craftmodule/susy";
@import "craftmodule/base";
@import "craftmodule/button";
// @import "craftmodule/form";
input[type="search"], input[type="text"], input[type="number"], input[type="password"], textarea, input[type="email"] {
	outline: 0;
	border-radius: 0;
	color: $grey-dark;
  vertical-align: middle;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: "";
  display: inline-block;
  border: 1px solid $grey-light;
  outline: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba($grey, 0.1);
  font-size: 100%;
  vertical-align: baseline;
}

label {
  display: block;
  margin: .25em 0;
  font-size: 100%;
  line-height: 1.5;
  vertical-align: baseline;
}
@import "craftmodule/notice";
@import "craftmodule/svg";
@import "craftmodule/theme";


$breakpoint-not-small: 'screen and (min-width: 35.5em)';
$breakpoint-medium: 'screen and (min-width: 48em)';
$breakpoint-large: 'screen and (min-width: 78em)';

// tachyons
@import "tachyons-sass/tachyons";


@mixin notice($border-color: $yellow, $background-color: $grey-lightest) {
  border-left: 6px solid $border-color;
  border-radius: 2px;
  background-color: $background-color;
  padding: .75rem;
}

.notice {
  @include notice;
}
